.div-conteiners {
    padding-top: 60px;
    padding-bottom: 60px;
    background: #f5f4fa;
    
  }
  
  @media screen and (min-width: 1200px){
  .div-conteiners {
      padding-top: 94px;
      padding-bottom: 94px;}
  }


  .img{
    display: block;
    max-width: 100%;
    height: auto;
    
  }
  .img-cart {
    outline: 1px solid var(--color-shadow)
  
  }
  .list-cart {
    padding-bottom: 24px;  
    padding-top: 24px;
    padding-left: 32px;
    padding-right: 32px;
    
  }
  @media screen and (min-width: 1200px){
  .list-cart  {
    padding-top: 30px;
    padding-bottom: 30px;}
}
  
  .taitol-icon {
      display:flex;
      align-items: center;
      justify-content: center;
      width: 44px;
      height:44px;
      border-radius: 50%;
      background-color: var(--wait-color);
      transition: var(--main-duration) var(--timing-function);
       &:hover,
       &:focus,
       &:hover .list-icon,
       &:focus .list-icon { 
       fill:var(--wait-color);
       background-color:var(--acsent-color);
      }
      
  }
  
  .list-icon {
      Width: 20px;
      Height: 20px;
      fill:#AFB1B8;
  }
  .flex-icon {
      display: flex;
      justify-content: space-between;
      margin-top: 16px;
    max-width: 204px;
    margin-left: auto;
    margin-right: auto;
  }

  
  
  .cart {
    background: var(--wait-color);
    border-radius: 0px 0px 4px 4px;
   
  }
  .cart-comands {
   background: var(--wait-color);
   border-radius: 0px 0px 4px 4px;
   box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  }
  .picture-conteiner {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
    
  }
  .img-contein {
    width: 100%;
    margin-left: 30px;
    margin-top: 30px;
  }
  @media screen and (min-width: 768px){
  .img-contein {
    flex-basis: calc(100% / 2 - 30px);
    margin-left: 30px;}
}
@media screen and (min-width: 1200px){
  .img-contein {
    flex-basis: calc(100% / 4 - 30px);
    margin-left: 30px;}
}

  .names-list {
    font-family: var(--main-font);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--color-names);
    margin-bottom: 10px;
  }
  
  .profession-list {
    font-family: var(--main-font);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--text-gray);
    margin-bottom: 16px;
  }
  