
.page-logo{
    font-family: var(--secondery-font);
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: #000000;
    
  }
  
  .page-logo__web {
    font-family: var(--secondery-font);
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: #2196f3;
  }