.taitol-form{
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;
    color:var(--color-names);
    margin-bottom: 12px;
  }

  @media screen and (min-width: 1200px){
  .taitol-form {
    font-size: 20px;
    line-height: 1.15;}
}

  .modal-form-field {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color:var(--text-gray);
    margin-bottom: 10px;
  }
  .modal-form-button {
    color:var(--wait-color);
    background-color:var(--acsent-color);
    border-radius: 4px;
    padding: 10px 55px;
    border: none;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    cursor: pointer;
    align-self: center;
    transition: var(--main-duration) var(--timing-function);
     &:hover,
     &:focus {
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        background-color: #0e83e2
    }
  }
 
  .modal-form-input{
    width: 100%;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding-left: 42px;
     &:focus {
      outline: none;
      border-color:var(--acsent-color);
      cursor: pointer;
    }
  }
 
 
  .modal-span {
    position: relative;
    display: block;
    margin-top: 4px;
  }
  .modal-form-icon {
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
    display: block;
    width: 18px;
    height: 18px;
    background-color:var(--secondery-font);
    .modal-form-input:focus + & {
      fill: var(--acsent-color);
    }
  }
  .modal-form-message {
    width: 100%;
    height: 120px;
    margin-top: 4px;
    resize: none;
    border: 1px solid rgba(153, 92, 92, 0.2);
    border-radius: 4px;
    padding: 12px 16px;
    transition: border-color var(--main-duration) var(--timing-function);
     &::placeholder {
      font-size: 14px;
      line-height: 1.14;
      letter-spacing: 0.01em;
      color: rgba(117, 117, 117, 0.5);
    }
     &:focus {
      outline: none;
      border-color: var(--acsent-color);
    }
  } 


  
  .modal-label-link{
    color: var(--acsent-color);
    transition: outline var(--main-duration) var(--timing-function);
  }
  .modal-checkbox-label{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color:var(--text-gray);
    margin-top: 10px;
    margin-bottom: 30px;
     &::before {
      display: block;
      content: '';
      width: 16px;
      height: 15px;
      border: 1px solid var(--acsent-color);
      border-radius: 2px;
      cursor: pointer;
      margin-right:7px;
    }
    .modal-checkbox:checked + &::before{
      background-image: url(../images/itoms/icon-check.svg);
      background-size:15px 14px;
      border: none;
    }
    .modal-checkbox:focus + &::before {
      outline: 1px solid var(--acsent-color);
    }
  }
  @media screen and (max-width: 767px){
    .mob-menu.is-open {
        pointer-events: auto;
        transform: translate(0);}
    }

  @media screen and (max-width: 767px){
  .mob-menu {
      transition: opacity 500ms linear;
      transform: translate(-140%);
      pointer-events: none;
      transition: transform 250ms linear;
      position: fixed;
      top: 0;
      left: 0;
      z-index: 100;
      width: 100vw;
      height: 100vh;
      background-color: var(--wait-color);}
  }

  
   
  @media screen and (min-width: 768px){
.mob-menu {
    display: none;}
} 

@media screen and (max-width: 767px){
.mob-menu__conteiner {
    position: relative;
    padding: 48px 25px;}
}

@media screen and (max-width: 767px){
.mob-menu__conteiner {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;}
}

@media screen and (max-width: 767px){
.mob-menu__close-btn {
    position: absolute;
    top: 10px;
    right: 15px;
    background-color: transparent;
    border: none;
    padding: 0;
    line-height: 0;
    cursor: pointer;}
}
@media screen and (max-width: 767px){
.mob-menu__button {
    position: absolute;
    top: 10px;
    right: 15px;
    background-color: transparent;
    border: none;
    padding: 0;
    line-height: 0;
    cursor: pointer;}
} 


@media screen and (max-width: 767px){
.mob-menu__icon {
    width: 40px;
    height: 40px;
    fill: var(--color-names);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);}
}
 
@media screen and (max-width: 767px){
.mob-menu__item:not(:last-child) {
    margin-bottom: 32px;}
}
.mob-menu .mob-contacts__item:not(:last-child) {
  margin-bottom: 32px;
}
 .mob-contacts__link {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.02em;
  color: var(--color-grey);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),font-size 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (max-width: 767px){
.mob-menu__link {
    font-weight: 500;
    font-size: 40px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: var(--color-main);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);}
}

@media screen and (max-width: 767px){
.mob-menu.is-open {
    pointer-events: auto;
    transform: translate(0);}
}

.mob-menu .mob-contacts {
  margin-bottom: 64px;
}

@media screen and (max-width: 400px){
.mob-menu .mob-social {
    flex-wrap: wrap;}
}

mob-menu .mob-social {
  display: flex;
}

.mob-menu .mob-social {
  display: flex;
}

@media screen and (max-width: 400px){
.mob-menu .mob-social__item:nth-child(-n+2) {
    margin-bottom: 10px;}
}

.mob-menu .mob-social__link {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  color: var(--hover-button-backcolor);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-menu .mob-social__item:not(:last-child)::after {
  content: "";
  width: 0px;
  height: 22px;
  border: 1px solid rgba(33,33,33,0.2);
  transform: rotate(90deg);
  margin-right: 10px;
  margin-left: 10px;
}