:root {
    --main-font: "Roboto", sans-serif;
    --secondery-font: "Raleway", sans-serif;
    --acsent-color: #2196f3;
    --wait-color: #ffffff;
    --text-gray: #757575;
    --color-names: #212121;
    --color-shadow:box-shadow:0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
     --main-duration: 250ms;
     --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
     --hover-button-backcolor:#188ce8;
  }
  